@import "relative_helpers.scss";

.about_section {
    @extend .d-flex;
    @extend .mx-auto;
    text-align: center;
    width: 60%;
}

.about_article {
    margin: auto;
}

.about_header {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about_paragraph {
    color: white;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}

.contact_section {
    @extend .d-flex;
    @extend .mx-auto;
    text-align: center;
    margin: auto;
}

.contact_article {
    margin: auto;
}

form {
    color: white;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;;
}

.contact_header {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type=text] {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.select {
    width: 22.5%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=tel] {
    width: 75%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 576px) {
    .about_header {
        font-size: 0.8rem;
    }

    .about_paragraph {
        font-size: 0.6rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    .contact_header {
        font-size: 0.8rem
    }

    input[type=text] {
        padding: (12px * 0.5) (20px * 0.5);
        margin: (8px * 0.5) 0;
        border-radius: 4px * 0.5;
    }
    
    input[type=email] {
        padding: (12px * 0.5) (20px * 0.5);
        margin: (8px * 0.5) 0;
        border-radius: 4px;
    }
    
    .select {
        padding: (12px * 0.5) (15px * 0.5);
        margin: (8px * 0.5) 0;
        border-radius: 4px * 0.5;
    }
    
    input[type=tel] {
        padding: (12px * 0.5) (20px * 0.5);
        margin: (8px * 0.5) 0;
        border-radius: 4px * 0.5;
    }
    
    textarea {
        height: 100px * 0.5;
        padding: (12px * 0.5) (20px * 0.5);
        margin: (8px * 0.5) 0;
        border-radius: 4px * 0.5;
        font-size: 0.75rem * 0.5;
    }
    
    input[type=submit] {
        padding: (14px * 0.5) (20px * 0.5);
        margin: (8px * 0.5) 0;
        border-radius: 4px * 0.5;
    }
}

@media (min-width: 576px) {  
    .about_header {
        font-size: 1rem;
    }

    .about_paragraph {
        font-size: 0.78rem;
        margin-top: 0.36rem;
        margin-bottom: 0.36rem;
    }

    .contact_header {
        font-size: 1rem;
    }

    input[type=text] {
        padding: (12px * 0.6) (20px * 0.6);
        margin: (8px * 0.6) 0;
        border-radius: 4px * 0.6;
    }
    
    input[type=email] {
        padding: (12px * 0.6) (20px * 0.6);
        margin: (8px * 0.6) 0;
        border-radius: 4px;
    }
    
    .select {
        padding: (12px * 0.6) (15px * 0.6);
        margin: (8px * 0.6) 0;
        border-radius: 4px * 0.6;
    }
    
    input[type=tel] {
        padding: (12px * 0.6) (20px * 0.6);
        margin: (8px * 0.6) 0;
        border-radius: 4px * 0.6;
    }
    
    textarea {
        height: 100px * 0.6;
        padding: (12px * 0.6) (20px * 0.6);
        margin: (8px * 0.6) 0;
        border-radius: 4px * 0.6;
        font-size: 0.75rem * 0.6;
    }
    
    input[type=submit] {
        padding: (14px * 0.6) (20px * 0.6);
        margin: (8px * 0.6) 0;
        border-radius: 4px * 0.6;
    }
}

@media (min-width: 768px) {
    .about_header {
        font-size: 1.26rem;
    }

    .about_paragraph {
        font-size: 1rem;
        margin-top: 0.48rem;
        margin-bottom: 0.48rem;
    }

    .contact_header {
        font-size: 1.26rem;
    }

    form {
        font-size: 0.9rem * 0.75;
    }

    input {
        font-size: 0.75rem * 0.75;
    }

    select {
        font-size: 0.75rem * 0.75;
    }

    input[type=text] {
        padding: (12px * 0.75) (20px * 0.75);
        margin: (8px * 0.75) 0;
        border-radius: 4px * 0.75;
    }
    
    input[type=email] {
        padding: (12px * 0.75) (20px * 0.75);
        margin: (8px * 0.75) 0;
        border-radius: 4px;
    }
    
    .select {
        padding: (12px * 0.75) (15px * 0.75);
        margin: (8px * 0.75) 0;
        border-radius: 4px * 0.75;
    }
    
    input[type=tel] {
        padding: (12px * 0.75) (20px * 0.75);
        margin: (8px * 0.75) 0;
        border-radius: 4px * 0.75;
    }
    
    textarea {
        height: 100px * 0.75;
        padding: (12px * 0.75) (20px * 0.75);
        margin: (8px * 0.75) 0;
        border-radius: 4px * 0.75;
        font-size: 0.75rem * 0.75;
    }
    
    input[type=submit] {
        padding: (14px * 0.75) (20px * 0.75);
        margin: (8px * 0.75) 0;
        border-radius: 4px * 0.75;
    }
}

@media (min-width: 992px) {
    .about_header {
        font-size: 1.64rem;
    }

    .about_paragraph {
        font-size: 1.35rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    .contact_header {
        font-size: 1.64rem;
    }

    form {
        font-size: 0.9rem;
    }

    input {
        font-size: 0.75rem;
    }

    select {
        font-size: 0.75rem;
    }

    input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 4px;
    }
    
    input[type=email] {
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 4px;
    }
    
    .select {
        padding: 12px 15px;
        margin: 8px 0;
        border-radius: 4px;
    }
    
    input[type=tel] {
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 4px;
    }
    
    textarea {
        height: 100px;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 4px;
        font-size: 0.75rem;
    }
    
    input[type=submit] {
        padding: 14px 20px;
        margin: 8px 0;
        border-radius: 4px;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
}

@media (min-width: 1200px) {
    .about_header {
        font-size: 2rem;
    }

    .about_paragraph {
        font-size: 1.63rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .contact_header {
        font-size: 2rem;
    }

    form {
        font-size: 0.9rem * 1.2;
    }

    input {
        font-size: 0.75rem * 1.2;
    }

    select {
        font-size: 0.75rem * 1.2;
    }

    input[type=text] {
        padding: (12px * 1.2) (20px * 1.2);
        margin: (8px * 1.2) 0;
        border-radius: 4px * 1.2;
    }
    
    input[type=email] {

        padding: (12px * 1.2) (20px * 1.2);
        margin: (8px * 1.2) 0;
        border-radius: 4px * 1.2;
    }
    
    .select {
        padding: (12px * 1.2) (15px * 1.2);
        margin: (8px * 1.2) 0;
        border-radius: 4px * 1.2;
    }
    
    input[type=tel] {
        padding: (12px * 1.2) (20px * 1.2);
        margin: (8px * 1.2) 0;
        border-radius: 4px * 1.2;
    }
    
    textarea {
        height: 100px * 1.2;
        padding: (12px * 1.2) (20px * 1.2);
        margin: (8px * 1.2) 0;
        border-radius: 4px * 1.2;
    }
    
    input[type=submit] {
        padding: (14px * 1.2) (20px * 1.2);
        margin: (8px * 1.2) 0;
        border-radius: 4px * 1.2;
    }
} 

@media (min-width: 1400px){
    .about_header {
        font-size: 2.3rem;
    }

    .about_paragraph {
        font-size: 1.9rem;
        margin-top: 0.85rem;
        margin-bottom: 0.85rem;
    }

    .contact_header {
        font-size: 2.3rem;
    }

    form {
        font-size: 0.9rem * 1.4;
    }

    input {
        font-size: 0.75rem * 1.4;
    }

    select {
        font-size: 0.75rem * 1.4;
    }

    input[type=text] {
        padding: (12px * 1.4) (20px * 1.4);
        margin: (8px * 1.4) 0;
        border-radius: 4px * 1.4;
    }
    
    input[type=email] {
        padding: (12px * 1.4) (20px * 1.4);
        margin: (8px * 1.4) 0;
        border-radius: 4px;
    }
    
    .select {
        width: 22.3%;
        padding: (12px * 1.4) (15px * 1.4);
        margin: (8px * 1.4) 0;
        border-radius: 4px * 1.4;
    }
    
    input[type=tel] {
        padding: (12px * 1.4) (20px * 1.4);
        margin: (8px * 1.4) 0;
        border-radius: 4px * 1.4;
    }
    
    textarea {
        height: 100px * 1.4;
        padding: (12px * 1.4) (20px * 1.4);
        margin: (8px * 1.4) 0;
        border-radius: 4px * 1.4;
        font-size: 0.75rem * 1.4;
    }
    
    input[type=submit] {
        padding: (14px * 1.4) (20px * 1.4);
        margin: (8px * 1.4) 0;
        border-radius: 4px * 1.4;
    }
}

@media (min-width: 1600px){
    .about_header {
        font-size: 2.6rem;
    }

    .about_paragraph {
        font-size: 2.18rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .contact_header {
        font-size: 2.6rem;
    }

    form {
        font-size: 0.9rem * 1.6;
    }

    input {
        font-size: 0.75rem * 1.6;
    }

    select {
        font-size: 0.75rem * 1.6;
    }

    input[type=text] {
        padding: (12px * 1.6) (20px * 1.6);
        margin: (8px * 1.6) 0;
        border-radius: 4px * 1.6;
    }
    
    input[type=email] {
        padding: (12px * 1.6) (20px * 1.6);
        margin: (8px * 1.6) 0;
        border-radius: 4px;
    }
    
    .select {
        padding: (12px * 1.6) (15px * 1.6);
        margin: (8px * 1.6) 0;
        border-radius: 4px * 1.6;
    }
    
    input[type=tel] {
        padding: (12px * 1.6) (20px * 1.6);
        margin: (8px * 1.6) 0;
        border-radius: 4px * 1.6;
    }
    
    textarea {
        height: 100px * 1.6;
        padding: (12px * 1.6) (20px * 1.6);
        margin: (8px * 1.6) 0;
        border-radius: 4px * 1.6;
        font-size: 0.75rem * 1.6;
    }
    
    input[type=submit] {
        padding: (14px * 1.6) (20px * 1.6);
        margin: (8px * 1.6) 0;
        border-radius: 4px * 1.6;
    }
}

@media (min-width: 1800px){
    .about_header {
        font-size: 3rem;
    }

    .about_paragraph {
        font-size: 2.45rem;
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
    }

    .contact_header {
        font-size: 3rem;
    }

    form {
        font-size: 0.9rem * 1.8;
    }

    input {
        font-size: 0.75rem * 1.8;
    }

    select {
        font-size: 0.75rem * 1.8;
    }

    input[type=text] {
        padding: (12px * 1.8) (20px * 1.8);
        margin: (8px * 1.8) 0;
        border-radius: 4px * 1.8;
    }
    
    input[type=email] {
        padding: (12px * 1.8) (20px * 1.8);
        margin: (8px * 1.8) 0;
        border-radius: 4px;
    }
    
    .select {
        padding: (12px * 1.8) (15px * 1.8);
        margin: (8px * 1.8) 0;
        border-radius: 4px * 1.8;
    }
    
    input[type=tel] {
        padding: (12px * 1.8) (20px * 1.8);
        margin: (8px * 1.8) 0;
        border-radius: 4px * 1.8;
    }
    
    textarea {
        height: 100px * 1.8;
        padding: (12px * 1.8) (20px * 1.8);
        margin: (8px * 1.8) 0;
        border-radius: 4px * 1.8;
        font-size: 0.75rem * 1.8;
    }
    
    input[type=submit] {
        padding: (14px * 1.8) (20px * 1.8);
        margin: (8px * 1.8) 0;
        border-radius: 4px * 1.8;
    }
}

@media (min-width: 2000px){
    .about_header {
        font-size: 3rem;
    }

    .about_paragraph {
        font-size: 2.7rem;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .contact_header {
        font-size: 3rem;
    }

    form {
        font-size: 0.9rem * 2;
    }

    input {
        font-size: 0.75rem * 2;
    }

    select {
        font-size: 0.75rem * 2;
    }

    input[type=text] {
        padding: (12px * 2) (20px * 2);
        margin: (8px * 2) 0;
        border-radius: 4px * 2;
    }
    
    input[type=email] {
        padding: (12px * 2) (20px * 2);
        margin: (8px * 2) 0;
        border-radius: 4px;
    }
    
    .select {
        padding: (12px * 2) (15px * 2);
        margin: (8px * 2) 0;
        border-radius: 4px * 2;
    }
    
    input[type=tel] {
        padding: (12px * 2) (20px * 2);
        margin: (8px * 2) 0;
        border-radius: 4px * 2;
    }
    
    textarea {
        height: 100px * 2;
        padding: (12px * 2) (20px * 2);
        margin: (8px * 2) 0;
        border-radius: 4px * 2;
        font-size: 0.75rem * 2;

    }
    
    input[type=submit] {
        padding: (14px * 2) (20px * 2);
        margin: (8px * 2) 0;
        border-radius: 4px * 2;
    }
}

@media (min-width: 2200px){
    .about_header {
        font-size: 3.6rem;
    }

    .about_paragraph {
        font-size: 3rem;
        margin-top: 1.36rem;
        margin-bottom: 1.36rem;
    }

    .contact_header {
        font-size: 3.6rem;
    }

    form {
        font-size: 0.9rem * 2.2;
    }

    input {
        font-size: 0.75rem * 2.2;
    }

    select {
        font-size: 0.75rem * 2.2;
    }

    input[type=text] {

        padding: (12px * 2.2) (20px * 2.2);
        margin: (8px * 2.2) 0;
        border-radius: 4px * 2.2;
    }
    
    input[type=email] {

        padding: (12px * 2.2) (20px * 2.2);
        margin: (8px * 2.2) 0;
        border-radius: 4px * 2.2;
    }
    
    .select {

        padding: (12px * 2.2) (15px * 2.2);
        margin: (8px * 2.2) 0;
        border-radius: 4px * 2.2;
    }
    
    input[type=tel] {
        padding: (12px * 2.2) (20px * 2.2);
        margin: (8px * 2.2) 0;
        border-radius: 4px * 2.2;
    }
    
    textarea {
        height: 100px * 2.2;
        padding: (12px * 2.2) (20px * 2.2);
        margin: (8px * 2.2) 0;
        border-radius: 4px * 2.2;
        font-size: 0.75rem * 2.2;
    }
    
    input[type=submit] {
        padding: (14px * 2.2) (20px * 2.2);
        margin: (8px * 2.2) 0;
        border-radius: 4px * 2.2;
    }
}

@media (min-width: 2424px){
    .about_header {
        font-size: 4rem;
    }

    .about_paragraph {
        font-size: 3.3rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .contact_header {
        font-size: 4rem;
    }

    form {
        font-size: 0.9rem * 2.4;
    }

    input {
        font-size: 0.75rem * 2.4;
    }

    select {
        font-size: 0.75rem * 2.4;
    }

    input[type=text] {
        padding: (12px * 2.4) (20px * 2.4);
        margin: (8px * 2.4) 0;
        border-radius: 4px * 2.4;
    }
    
    input[type=email] {
        padding: (12px * 2.4) (20px * 2.4);
        margin: (8px * 2.4) 0;
        border-radius: 4px * 2.4;
    }
    
    .select {
        padding: (12px * 2.4) (15px * 2.4);
        margin: (8px * 2.4) 0;
        border-radius: 4px * 2.4;
    }
    
    input[type=tel] {
        padding: (12px * 2.4) (20px * 2.4);
        margin: (8px * 2.4) 0;
        border-radius: 4px * 2.4;
    }
    
    textarea {
        height: 100px * 2.4;
        padding: (12px * 2.4) (20px * 2.4);
        margin: (8px * 2.4) 0;
        border-radius: 4px * 2.4;
        font-size: 0.75rem * 2.4;
    }
    
    input[type=submit] {
        padding: (14px * 2.4) (20px * 2.4);
        margin: (8px * 2.4) 0;
        border-radius: 4px * 2.4;
    }
}