@import 'relative_helpers.scss';

.body-content-grid {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
}

.article-item {
    text-align: center;
    @extend .d-flex;
    @extend .justify-content-center;
}

.thumbnail {
    display: table;
    width: min-content;
    height: min-content;
    margin: 0;

    caption-side: bottom;
}

.img {
    display: block;
}
  
.caption {
    display: block;
    color:aliceblue;
    text-decoration: none;

    padding-top: 0.7rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-stretch: expanded;
}

//Phone display

@media (max-width: 576px) {
    .article-item {
        height: 200px;
    }

    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr);
        row-gap: 1.5rem;
        padding-top: 1.33rem;
    }

    .thumbnail {
        scale: 63%;
    }
}

@media (min-width: 576px) {  
    .article-item {
        height: 220px;
    }
    
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr);
        row-gap: 1.25rem;
        padding-top: 1.66rem;
    }

    .thumbnail {
        scale: 70%;
    }
}

@media (min-width: 768px) {
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr);
        row-gap: 2.75rem;
        padding-top: 2rem;
    }

    .thumbnail {
        scale: 80%;
    }
    
}

@media (min-width: 992px) {
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    }

    .thumbnail {
        scale: 62%;
    }

}

@media (min-width: 1200px) {
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    }

    .thumbnail {
        scale: 66%;
    }
} 

@media (min-width: 1400px){
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    }

    .thumbnail {
        scale: 80%;
    }

}

@media (min-width: 1600px){
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        row-gap: 4.5rem;
        padding-top: 3.2rem;
    }

    .thumbnail {
        scale: 85%;
    }

}

@media (min-width: 1800px){
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        row-gap: 5rem;
        padding-top: 3.5rem;
    }

    .thumbnail {
        scale: 90%;
    }
}

@media (min-width: 2000px){
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        row-gap: 5.5rem;
        padding-top: 3.65rem;
    }

    .thumbnail {
        scale: 97.5%;
    }
}

@media (min-width: 2200px){
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        row-gap: 7rem;
        padding-top: 3.85rem;
    }

    .thumbnail {
        scale: 105%;
    }
}

@media (min-width: 2424px){
    .body-content-grid {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        row-gap: 8rem;
        padding-top: 4rem;
    }

    .thumbnail  {
        scale: 110%;
    }
}